.auth_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "div div div form form"
    "div div div form form"
    "div div div form form";
  height: 58.56em;
}

.auth_section .empty_div {
  grid-area: div;
  background: var(--blue_color);
  width: 100%;
  height: 100%;
}

.auth_section .empty_div .user_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
}

.auth_section .empty_div .user_list .user {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex-wrap: wrap;
  cursor: pointer;
}

.auth_section .empty_div .user_list .user:hover {
  transition: 0.3s;
  box-shadow: 0 2px 4px #121212;
  transform: translateY(2px);
}

.auth_section .form_div {
  grid-area: form;
  padding: 40px;
  max-width: 600px;
  gap: 2em;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.auth_section .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth_section .actions {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
}
@media (max-width: 884px) {
  .auth_section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "div div div"
      "form form form";
  }
}
