.new_post_section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.post_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.post_form label {
  font-weight: bold;
  padding: 0 0 20px 0;
}
