.notifications_section {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.notifications_section .notifications_buttons {
  display: flex;
  gap: 12px;
}

.notifications_section .notifications_container {
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}

.notification_item {
  display: flex;
  gap: 12px;
  padding: 20px;
}

.notification_item.activeNotification {
  background-color: #006bcf1f;
  position: relative;
}

.notification_item.activeNotification::before {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: #006ccf;
  border-radius: 60%;
  position: absolute;
  right: 20px;
  top: 40px;
}

.notification_item.basic_notification {
  background-color: #ffffff;
}
