.main_dashboard {
  display: grid;
  gap: 20px;
  grid-auto-rows: min-content;
  width: 100%;
  padding: 20px;
}

.main_dashboard .filter_bar {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.posts_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.post_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_item .img {
  align-items: center;
  display: flex;
  gap: 12px;
  max-width: 800px;
}

.post_item .interactivity {
  display: flex;
  padding: 16px;
  gap: 12px;
}

.post_item .interactivity .interactive_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post_item .interactivity .interactive_item .interactive_background_like {
  padding: 8px;
  background-color: #ff101027;
  border-radius: 8px;
}

.post_item .interactivity .interactive_item .interactive_background_comment {
  padding: 8px;
  border-radius: 8px;
  background-color: #ffaa003b;
}

.post_item .interactivity .interactive_item .interactive_background_share {
  border-radius: 8px;
  padding: 8px;
  background-color: #0084ff42;
}

.post_item .date {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.post_item .actions {
  display: flex;
  padding: 16px;
  gap: 20px;
}

.post_item .actions .action {
  align-items: center;
  gap: 12px;
  display: flex;
}

.edit_dashboard {
  width: 100%;
  padding: 20px;
}

.edit_dashboard .image_div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 12px;
}

.edit_dashboard .image_div .edit_textarea {
  width: 100%;
  font-size: 16px;
  resize: none;
  color: #797979;
  border: 1px solid #79797946;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.edit_dashboard .image_div .edit_textarea:focus {
  border: none;
}

.edit_dashboard form {
  position: relative;
}

.edit_dashboard form .edit_inputs_div {
  margin-top: 30px;
  display: flex;
  gap: 1.6em;
  justify-content: center;
  width: fit-content;
}

.edit_dashboard form .edit_actions {
  position: absolute;
  right: 20px;
  bottom: 0;
  display: flex;
  gap: 12px;
  align-items: center;
}

.saved_posts_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2em;
  width: 100%;
  padding: 3em;
}
