.profile_section {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.profile_section .profile_container {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 12px 0;
  align-items: center;
}

.profile_section .profile_container .profile_info {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.profile_section .profile_container .profile_info .profile_nm {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.profile_section .profile_container .profile_info .profile_nm .edit_inputs {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile_section .profile_container .profile_info .profile_nm .typo_profile {
  display: flex;
  flex-direction: column;
}

.profile_section
  .profile_container
  .profile_info
  .profile_nm
  .profile_followers_info {
  display: flex;
  gap: 1.2em;
}

.profile_section .profile_container .profile_saved {
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile_section .profile_edit_info {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.profile_section .profile_edit_info .profile_textarea {
  width: 100%;
  height: fit-content;
  font-size: 18px;
  font-weight: 400;
  resize: vertical;
  max-height: 200px;
  color: #797979;
  border: 1px solid #79797946;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile_section .profile_buttons {
  display: flex;
  gap: 2px;
  justify-content: flex-end;
  margin-top: 20px;
}

/* View profile */

.user_profile_card {
  margin-top: 20px;
  overflow: hidden;
}

.user_profile_card .landingImage img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.user_profile_card .profile_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.user_profile_card .profile_content img {
  background-color: #fff;
  border-radius: 100px;
}

.user_profile_card .profile_content .profile_view_info {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.user_profile_card .profile_content .profile_view_flw {
  display: flex;
  gap: 1.2em;
}

.user_profile_card .profile_content .profile_view_flw .profile_flws {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.user_profile_card .profile_view_actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.coverForm {
  display: flex;
  flex-direction: column;
}

.saved_posts_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2em;
  width: 100%;
  padding: 3em;
}

@media (max-width: 480px) {
  .profile_section .profile_container {
    gap: 2em;
    flex-wrap: wrap;
  }

  .profile_section .profile_container .profile_info {
    flex-wrap: wrap;
  }

  .coverForm {
    align-items: baseline;
    gap: 2em;
  }
}
