.sidebar {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 8px 0px;
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.sidebar.open {
  height: 440px;
}

.sidebar.closed {
  height: 30px;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 12px;
  margin-top: 2em;
  position: relative;
  /* right: 40px; */
}

.sidebar_list li a {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 12px;
  border-radius: 8px;
  color: #00000099;
  text-decoration: none;
}

.sidebar_list li a:hover,
.sidebar_list li a.active,
.sidebar_list li a:active {
  color: #fff;
  transition: 0.3s;
  background-color: var(--blue_color);
}
