:root {
  --blue_color: #006ccf;
}

* {
  margin: 0;
  padding: 0;
}

.link_no_decoration {
  text-decoration: none;
  color: inherit;
}

.layout {
  display: flex;
  width: 100%;
}
.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdd7ff;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

button {
  border: none;
}

@media (max-width: 480px) {
  .layout {
    flex-wrap: wrap;
  }
}
